---
title: Table of Contents
---

<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="types-and-topics">
    {% include site_header.html %}
    <main>
      <div class="wrapper">
        <h1>Types &amp; Topics</h1>
        <h2>Types</h2>
        <p>Here's a list of types of content we create. <a href="https://18f.slack.com/messages/g-content">Contact #g-content</a> if you'd like to add to this list.</p>
        <dl>
          <dt>Internal message</dt>
          <dd><strong>Approvers:</strong> Hillary Hartley</dd>
          <dt>Internal documentation about how we work</dt>
          <dd><strong>Approvers:</strong> Mike Bland</dd>
          <dt>Guides</dt>
          <dd><strong>Collaborators:</strong> Writing Lab</dd>
          <dd><strong>Approvers:</strong> Mike Bland</dd>
          <dt>Blog posts</dt>
          <dd><strong>Collaborators:</strong> Greg Boone, Andre Francisco, Melody Kramer, Writing Lab</dd>
          <dt>Misc. web content</dt>
          <dd><strong>Collaborators:</strong> Writing Lab</dd>
        </dl>

        <h2>Topics</h2>
        <a class="button" href="new.php">Add new</a>
        <p>Here's a list of topics we want to be sensitive to as people create content :</p>
        <dl>
          <dt>A specific law, regulation, or member of Congress. <span class="actions"><a href="#">Edit</a> | <a href="#">Delete</a></span></dt>
          <dd>Hillary Hartley (Approver)</dd>
          <dd>Someone else (Approver)</dd>
          
          <dt>A particular agency <span class="actions"><a href="#">Edit</a> | <a href="#">Delete</a></span></dt>
          <dd>Andre Francisco (Collaborator)</dd>
          
          <dt>Research or best practices relevant to an 18F grouplet <span class="actions"><a href="#">Edit</a> | <a href="#">Delete</a></span></dt>
          <dt>18F&rsquo;s relationships with vendors <span class="actions"><a href="#">Edit</a> | <a href="#">Delete</a></span></dt>
          <dt>A previously unreleased website <span class="actions"><a href="#">Edit</a> | <a href="#">Delete</a></span></dt>
          <dt>The Agile BPA <span class="actions"><a href="#">Edit</a> | <a href="#">Delete</a></span></dt>
          <dt>An 18F project, product, or initiative (other than Agile BPA) <span class="actions"><a href="#">Edit</a> | <a href="#">Delete</a></span></dt>
          <dt>Laws or regulations that govern GSA or federal employees <span class="actions"><a href="#">Edit</a> | <a href="#">Delete</a></span></dt>
        </dl>
      </div>
    </main>
  </body>
</html>