---
title: Table of Contents
---

<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="topics-new">
    {% include site_header.html %}
    <main class"form">
      <div class="wrapper">
        <a href="index.html" class="a-back">&larr; Cancel and return</a>
        <h1>New topic</h1>
        <div class="field">
          <label>
            <span class="label-text">Short name</span>
            <input type="text"> 
          </label>
        </div>
        <div class="field">
          <label>
            <span class="label-text">Long name (As it appears in the content-stakeholder finder)</span>
            <input type="text"> 
          </label>
        </div>
        <div class="field field-select">
          <label>
            <span class="label-text">Who cares about this topic?</span>
            <select>
              <option>Name 1</option>
              <option>Name 2</option>
              <option>Name 3</option>
            </select>
          </label>
        </div>
        <button type="submit">Add topic</button>
      </div>
    </main>
  </body>
</html>