---
title: Table of Contents
---

<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="stakeholders">
    {% include site_header.html %}
      <div class="wrapper">
        <h1>Stakeholders</h1>
        <h2>Collaborators</h2>
        <a class="button" href="new.php">Add new</a>
        <dl>
          <dt>Project teams<span class="actions"><a href="#">Edit</a> | <a href="#">Delete</a></span></dt>
          <dd><strong>Types:</strong> Blog posts</dd>
          <dd><strong>Topics:</strong> An 18F project, product, or initiative (other than Agile BPA)</dd>
          <dt>Product lead<span class="actions"><a href="#">Edit</a> | <a href="#">Delete</a></span></dt>
          <dd><strong>Types:</strong> Blog posts</dd>
          <dt>Greg Boone<span class="actions"><a href="#">Edit</a> | <a href="#">Delete</a></span></dt>
          <dd><strong>Types:</strong> ??? </dd>
          <dt>Andre Francisco<span class="actions"><a href="#">Edit</a> | <a href="#">Delete</a></span></dt>
          <dd><strong>Types:</strong> Blog post</dd>
        </dl>
        <h2>Approvers</h2>
        <a class="button" href="new.php">Add new</a>
        <dl>
          <dt>Hillary Hartley<span class="actions"><a href="#">Edit</a> | <a href="#">Delete</a></span></dt>
          <dd><strong>Types:</strong> Blog posts</dd>
          <dt>Mike Bland<span class="actions"><a href="#">Edit</a> | <a href="#">Delete</a></span></dt>
          <dd><strong>Types:</strong> Internal documentation about how we work</dd>
          <dt>Noah Kunin<span class="actions"><a href="#">Edit</a> | <a href="#">Delete</a></span></dt>
          <dd><strong>Topics:</strong> A previously unreleased website</dd>
          <dt>John Peters<span class="actions"><a href="#">Edit</a> | <a href="#">Delete</a></span></dt>
          <dd><strong>Topics:</strong> Laws or regulations that govern GSA or federal employees</dd>
          <dt>Tania Mejia<span class="actions"><a href="#">Edit</a> | <a href="#">Delete</a></span></dt>
          <dd><strong>Types:</strong> Blog posts</dd>
        </dl>
      </div>
    </main>
  </body>
</html>