---
title: Table of Contents
---

<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="stakeholders-new">
    {% include site_header.html %}
    <main class"form">
      <div class="wrapper">
        <form action="index.php">
          <h1>New stakeholder</h1>
          <fieldset>
            <legend>18F</legend>
            <div class="field field-select">
              <label>
                <span class="label-text">Name</span>
                <select>
                  <option>Name 1</option>
                  <option>Name 2</option>
                </select>
              </label>
            </div>
            <div class="field field-select">
              <label>
                <span class="label-text">Content role</span>
                <select>
                  <option>Approver</option>
                  <option>Collaborator</option>
                </select>
              </label>
            </div>
          </fieldset>
          <fieldset>
            <legend>Everyone else</legend>
            <div class="field">
              <label>
                <span class="label-text">Name</span>
                <input type="text"> 
              </label>
            </div>
            <div class="field">
              <label>
                <span class="label-text">Email</span>
                <input type="email"> 
              </label>
            </div>
            <div class="field">
              <label>
                <span class="label-text">Org / role</span>
                <input type="text"> 
              </label>
            </div>
            <div class="field field-select">
              <label>
                <span class="label-text">Content role</span>
                <select>
                  <option>Approver</option>
                  <option>Collaborator</option>
                </select>
              </label>
            </div>
          </fieldset>
          <button>Add new stakeholder</button>
        </form>
      </div>
    </main>
  </body>
</html>