/* @override http://localhost:4000/stylesheets/screen.css */

/* @override http://127.0.0.1:4001/stylesheets/screen.css */

/* @override https://dnrjowqmgw.localtunnel.me/stylesheets/screen.css */

/* @group bootstrap */

body{
	font-family: "Roboto", helvetica neue, helvetica, sans-serif;
	font-size: 16px;
	padding-bottom: 64px;
}

a{ color: #0064be; }
a:hover{ color: #003c72; }

a.a-back{
	color: #555;
	font-size: 14px;
	display: block;
}

p, li, dd, dt {
	line-height: 1.5em;
	max-width: 34em;
	margin-bottom: 1em;
}

h1.page-title{
	font-size: 36px;
	font-weight: 600;
	padding-top: 0.4em;
	margin-bottom: 0.6em;	
}

div.wrapper{
	width: 90%;
	max-width: 691px;
	margin: 0 auto;
	position: relative;
}

div.wrapper::after{
	content: "";
	display: table;
	clear: both;
}

/* @end */

/* @group forms */

legend {
  padding: 0;
  display: table;
}

fieldset {
  border: 0;
  padding: 0.01em 0 0 0;
  margin: 0;
  min-width: 0;
}

body:not(:-moz-handler-blocked) fieldset {
  display: table-cell;
}

form footer{
	margin-top: 2em;
}

input[type=tel],
input[type=text],
input[type=date],
input[type=email],
input[type=number],
input[type=password],
input[type=search],
select,
textarea{
	-webkit-appearance: none;
	padding: 4px 8px;
	border: 1px solid #ccc;
	border-radius: 3px;
	line-height: 36px;
	min-height: 36px;
	min-width: 4em;
	width: 100%;
	margin: 0;
	outline: none;
	font: inherit;
}

input[type=radio],
input[type=checkbox]{ 
	outline: none; 
	border: none;
}

.field-select select{
	min-width: 0; 
	background: none;
	padding-right: 28px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
}

.field-select span.label-select{ 
	position: relative; 
	width: 15%;
	display: block;
}

.field-select{ position: relative; }

.field-select::after{
	content: "";
	border: 6px solid black;
	position: absolute;
	right: 10px;
	bottom: 7px;
	margin-bottom: 2px;
	border-color: #aaa transparent transparent transparent;
	z-index: -1;
}

.field-select:hover select{ border-color: #aaa; }
.field-select:hover::after{ border-top-color: #888; }

textarea{
	display: block;
	width: 100%;
	max-width: 40em;
	min-height: 6em;
	line-height: 1.25;
	color: #333;
}

button,
.button {
	background: none;
	border: 1px solid;
	color: #008c52;
	font: inherit;
	padding: 9px 12px;
	margin: 0;
	line-height: 16px;	
	cursor: pointer;
	text-decoration: none;
	border-radius: 3px;
	display: inline-block;
	vertical-align: middle;
	margin-top: -3px;
}

.button.button--delete{ color: #cb1c2a; }
.button.button--delete:hover{ 
	background: #cb1c2a;
	border-color: #cb1c2a;
}

.button.button--delete:active{
	color: #df8a66; 
}

button:hover,
.button:hover {
	background: #00834d;
	border-color: #00834d;
	color: white;
	box-shadow: 0 1px 0 #f3f3f3;
}

button:active,
.button:active {
	color: #7aa79d;
	background: #006e52;
	border-color: #006e52;
	box-shadow: inset 0 1px 0 rgba(0,0,0,0.1);
}

form a.a-return + h1{
	margin-top: 1em !important;	
}

div.field,
fieldset{ 
	margin-bottom: 24px; 
	max-width: 40em;
	width: 20em;
}

fieldset.fieldset-checkbox{ max-width: 512px;}

fieldset.fieldset-corporate-official{ margin-bottom: 24px; }

.fieldset-content-types > legend,
.fieldset-content-topics > legend,
.fieldset-external-stakeholders > legend{ 
	position: absolute !important;
	left: -9999em;
}

fieldset > legend,
.field span.label-text{
	display: block;	
	max-width: 40em;
	margin: 0 0 12px;
	padding: 0;
	position: static;
	font: inherit;
	line-height: 24px;
}

.field.field-radio{ 
	display: inline-block; 
	vertical-align: middle;
	margin-bottom: 6px;
}

.field.field-radio label{
	display: inline-block;
	padding: 8px 12px 8px 12px;
	border: 1px solid #ccc;
	border-radius: 3px;
	min-height: 32px;
	line-height: 1;
	vertical-align: middle;
}

.field.field-radio input,
.field.field-checkbox input{ margin-right: 0.4em; }

.field input:focus,
.field select:focus,
.field textarea:focus,
.field.field-checkbox.is-focused label,
.field.field-radio.is-focused label{
	border-color: #1188ff;
	box-shadow: 0 0 0 1px rgba(17,136,255,0.15);
	outline: none;
}

main div.field-select.is-focused::after{
	border-top-color: #1188ff;

}

div.field.field-checkbox span.label-text,
div.field.field-radio span.label-text,
div.field.field-radio input{ 
	display: inline; 
	vertical-align: middle;
}

.fieldset-checkbox div.field.field-checkbox label{
	position: relative;
	padding-left: 24px;
	padding-bottom: 16px;
	display: block; 
}

div.field.field-checkbox input{ 
	font-size: 1em;	
	line-height: 1;
	position: absolute;
	left: -1px;
	top: 2px;
}

.fieldset-checkbox div.field.field-checkbox{ margin-bottom: 0; }
.fieldset-checkbox div.field.field-checkbox + div.field.field-checkbox label
{ 	border-top: 1px solid #eee;
	padding-top: 12px;
	 }

.fieldset-checkbox div.field.field-checkbox + div.field.field-checkbox input{
	top: 14px;
}

div.field.field-checkbox span.label-text-title{
	display: block;
	font-weight: 600;
	color: #333;
	margin-bottom: 0.2em;
}

div.field.field-checkbox span.label-text-longdesc{
	color: #555;
	font-size: 16px;
	line-height: 1.33em;
	display: block;
	
}

main form footer a:hover{ color: #333; }
main form footer p{
	clear: both;
	font-family: Georgia;
	font-style: italic;
	color: #888;
	background: #f3f3f3;
	padding: 12px;
	max-width: none;
	margin-top: 24px;
	font-size: 14px;
}
main form footer p button{
	display: inline;
	float: none;
	padding: 4px 8px;
	color: #555;
	background: white;
	border: 2px solid #ccc;
	font-family: Helvetica;
	font-style: normal;
	margin-left: 0.2em;
 }

/* @end */

/* @group header.site-header */

header.site-header{
	background: #f3f3f3;
	border-top: 2px solid #e3e3e3;
	color: #555;
	font-size: 18px;
	margin-bottom: 16px;
}

header.site-header h1{
	margin-top: 14px;
	margin-bottom: 12px;
	font-weight: 600;
}

header.site-header a{
	color: inherit;
	text-decoration: none;
}

header.site-header a:hover{
	text-decoration: underline;
}

header.site-header ul{
	margin-left: -12px;
	font-size: 16px;
	float: left;
}

header.site-header li,
header.site-header li a{ float: left; }

header.site-header li a{
	color: inherit;
	padding: 12px;
}

.stakeholders header.site-header li.nav-stakeholders a,
.types-and-topics header.site-header li.nav-topics a{
	background: white;
}

header.site-header li a:hover{
	background: #e3e3e3;
	text-decoration: underline;
}

header.site-header li{
	display: inline-block;
	margin: 0;
}

@media screen and (min-width: 640px){
	
	header.site-header div.wrapper{
		padding-left: 320px;
	}
	
	header.site-header h1{
		float: left;	
		margin-left: -320px;
	}
	
	header.site-header ul{
		float: right;
		margin-right: -12px;
	
	}
}

}

/* @end */

/* @group main.form */

main form{ 
	padding-bottom: 64px; 
	padding-top: 16px;
}

main form > header p:last-of-type{ margin-bottom: 48px; }

div.field-iaa-number span.label-text,
div.field-iaa-number input[type=text]{
	display: inline-block;
	width: 7em;
	min-width: 0;
	vertical-align: middle;
	margin-bottom: 0;
	font-size: 12px;
	min-height: 18px;
}

div.field-iaa-number input[type=text]{
	background: #f3f3f3;
	color: #666;
}

/* @group section.section-form */

section{
	padding-top: 18px;
	counter-increment: section;
	position: relative;
}

section.section-form:first-of-type{ counter-reset: section; }

section h1 {
	font-size: 24px;
	font-family: Playfair Display, PT Serif;
	line-height: 32px;
	font-weight: 600;
	margin-bottom: 20px;
	color: #d26f00;
}

section em{
	font-style: italic;
}

/* @end */

/* @end */

/* @group .page */


p.introduction {
	font-family: Lato, PT Serif, georgia;
	font-size: 23px;
	line-height: 1.4em;
	max-width: 38em;
	margin-bottom: 0.8em;
	color: #404040;
}

@media screen and (min-width: 568.88px){ p.introduction { line-height: 1.5em; } }

figure{
	margin-top: 2.4em;
	margin-bottom: 2em;
}

figcaption p{
	font-size: 14px;
	line-height: 1.33em;
}

figure img{
	width: 100%;
	margin-bottom: 0.4em;
	
}

.page ol {
	margin-top: 0.7em;
	list-style-type: decimal;
	margin-left: 1.4em;
}

.page ul{
	list-style-type: disc;
	margin-left: 1.4em;
}

.instructions{
  display: block;	
  margin-bottom: 1.4em;
  max-width: 512px;
  position: relative;
}

.instructions .check-all-that-apply{
	color: #888;
	display: block;
	margin: 0.5em 0;
}

@media screen and (min-width: 568.88px){
	.instructions .check-all-that-apply{
	position: absolute;
	right: 0;
	top: 0;
		margin: 0;
	}
}


@media screen and (min-width: 568.88px){

	main { font-size: 18px; }
}



/* @end */

/* @group .types-and-topics */

.types-and-topics main h1{
	font-size: 32px;
	margin-top: 20px;	
}

.types-and-topics main h2{
	font-size: 24px;
	font-family: Playfair Display, PT Serif;
	line-height: 24px;
	font-weight: 600;
	margin-top: 32px;
	margin-bottom: 16px;
	color: #d26f00;
	display: inline-block;
}

.types-and-topics  main h2+a{
	padding: 0.5em 0.5em;
	font-size: 16px;
	margin-left: 0.4em;
	margin-top: -4px;
}


.types-and-topics strong{
	font-weight: 600;
	color: #555;
}

.types-and-topics dd{
	margin-left: 2em;
	margin-bottom: 0.4em;
	font-size: 14px;
	list-style-type: disc;
	display: list-item;
}

.types-and-topics dt{
	padding-right: 160px;	
}

.types-and-topics dl dt{
	position: relative;
	padding-top: 8px;
	margin-top: 12px;
	margin-bottom: 0.4em;
	border-top: 1px solid #ddd;
}

.types-and-topics dl dt span.actions{
	position: absolute;
	right: 0;
	top: 9px;
	font-size: 14px;
}

/* @end */

/* @group .topics-new */

.topics-new main h1{
	font-size: 32px;
	margin-top: 16px;	
	margin-bottom: 24px;
}




/* @end */

/* @group .stakeholders */

.stakeholders main h1{
	font-size: 32px;
	margin-top: 20px;	
}

.stakeholders main h2,
.stakeholders main h2+a{
	display: inline-block;
}

.stakeholders main h2+a{
	padding: 0.5em 0.5em;
	font-size: 16px;
	margin-left: 0.4em;
	margin-top: -4px;
}

.stakeholders main h2{
	font-size: 24px;
	font-family: Playfair Display, PT Serif;
	line-height: 24px;
	font-weight: 600;
	margin-top: 32px;
	margin-bottom: 16px;
	color: #d26f00;
}

.stakeholders strong{ 
	font-weight: 600; 
	color: #555;
}

.associations dd{
	margin-left: 2em;
	margin-bottom: 0.4em;
	font-size: 16px;
	list-style-type: disc;
	display: list-item;
	color: #333;
}

.associations dt{
	padding-right: 96px;	
	position: relative;
	padding-top: 12px;
	margin-top: 16px;
	margin-bottom: 0.4em;
	border-top: 1px solid #ccc;
}

.stakeholders dl dt span.actions{
	position: absolute;
	right: 0;
	top: 12px;
	font-size: 14px;
}

/* @end */

/* @group layouts */

/* @group layout-settings */

.layout-settings nav{
	margin-bottom: 1em;
}

.layout-settings nav ol::before{
	content: "On this page: ";
	margin-right: 0.4em;
}

.layout-settings nav ol li{
	list-style-type: none;
	display: inline;
	margin-right: 0.4em;
}

.layout-settings nav ol li a{ color: #555;}
.layout-settings nav ol li a:hover{ color: #222;}

.layout-settings .types dl dt,
.layout-settings .types dl dd,
.layout-settings .topics ul li,
.layout-settings .stakeholders ul li{
	width: 40em;
	padding-top: 0.4em;
	margin: 0;
}

.layout-settings .types dl dt,
.layout-settings .topics ul li,
.layout-settings .stakeholders ul li{
	border-top: 1px solid #eee;
}

.layout-settings .types dl dd,
.layout-settings .topics ul li,
.layout-settings .stakeholders ul li{
	padding-bottom: 0.4em;	
}

.layout-settings .types dl dt{ font-weight: 600; color: #444;}
.layout-settings ul li{
	position: relative;
	padding-right: 3em;
}

.layout-settings ul li a{
	position: absolute;
	right: 0;
}

.layout-settings section{
	margin-bottom: 1em;
}
.layout-settings section h1{
	font-size: 24px;
	font-family: Playfair Display, PT Serif;
	line-height: 24px;
	font-weight: 600;
	margin-bottom: 16px;
	color: #d26f00;
	display: inline-block;
}

.layout-settings section h1+a{
	padding: 0.5em 0.5em;
	font-size: 16px;
	margin-left: 0.4em;
	margin-top: -4px;
}

.layout-settings section p{
	font-family: pt serif;
	font-size: 17px;
}

.layout-settings .blank-slate{
	background: #eee;
	padding: 0.4em 0.8em;
	border-radius: 6px;
	margin-bottom: 1em;
	max-width: 34em;
}

.layout-settings .blank-slate p:last-child{ margin-bottom: 0;}

.layout-settings .associations .field,
.layout-settings .associations footer{
	display: inline-block;
	margin-left: 0.2em;
}
.layout-settings .associations .field span.label-text{
	position: absolute;
	left: -9999em;
}


/* @end */

/* @group layout-homepage */

.layout-homepage header.site-header{
	background: #19c5fe;
	
}

/* @end */

/* @end */